<h3>Minhas Vagas</h3>
<% if @vacancies.avaiable.empty? %>
  <p>Nenhuma vaga disponível no momento.</p>
<% end %>

<% if candidate_signed_in? %>

  <%= form_with(url: search_vacancies_path, local: true, method: :get) do %>
    <%= label_tag :q, 'Buscar vaga por título' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Buscar' %>
  <% end %>

  <dl>
  <% @vacancies.each do |vacancy| %>
    <% unless vacancy.finalized? %>
      <dt>Título:</dt>
      <dd><%= link_to vacancy.title, vacancy %></dd>
      <dt>Descrição:</dt>
      <dd><%= vacancy.description %> </dd>
      <dt>Habilidades necessárias:</dt>
      <dd><%= vacancy.skill %> </dd>
      <dt>Faixa salarial (R$):</dt>
      <dd><%= vacancy.wage %></dd>
      <dt>Nível do cargo:</dt>
      <dd><%= vacancy.role %></dd>
      <dt>Data limite de inscriçōes:</dt>
      <dd><%= vacancy.end_date.strftime('%d/%m/%Y') %></dd>
      <dt>Região:</dt>
      <dd><%= vacancy.location %></dd>
      <p>Esta vaga possui <%=vacancy.entries.count %> inscriçōes no momento</p>
      <hr>
    <% end %>
  <% end %>
  </dl>
<% end %>

<% if headhunter_signed_in? %>
<dl>
  <% @headhunter_vacancies.each do |vacancy| %>
    <%if vacancy.finalized? %>
      <p>Status: Inscrições encerradas</p>
    <% elsif vacancy.avaiable? %>
      <p>Status: Inscrições abertas</p>
    <% end %>
    <dt>Título:</dt>
    <dd><%= link_to vacancy.title, vacancy %></dd>
    <dt>Descrição:</dt>
    <dd><%= vacancy.description %> </dd>
    <p>Esta vaga possui <%=vacancy.entries.count %> inscriçōes no momento</p>
    <hr>
  <% end %>
</dl>
<% end %>
