
<% if candidate_signed_in? %>
  <h1>Minhas vagas</h1>
  <dl>
  <% @entries.each do |entry| %>
    <% if entry.avaiable? %>
      <dt>Status:</dt>
      <dd>Aguardando resposta</dd>
      <dt>Título:</dt>
      <dd><%= entry.vacancy.title %></dd>
      <dt>Descrição:</dt>
      <dd><%= entry.vacancy.description %> </dd>
      <dt>Habilidades necessárias:</dt>
      <dd><%= entry.vacancy.skill %> </dd>
      <dt>Faixa salarial (R$):</dt>
      <dd><%= entry.vacancy.wage %></dd>
      <dt>Nível do cargo:</dt>
      <dd><%= entry.vacancy.role %></dd>
      <dt>Data limite de inscriçōes:</dt>
      <dd><%= entry.vacancy.end_date.strftime('%d/%m/%Y') %></dd>
      <dt>Região:</dt>
      <dd><%= entry.vacancy.location %></dd>
    <% elsif entry.rejected? %>
      <dt>Status:</dt>
      <dd>Recusada</dd>
      <dt>Título:</dt>
      <dd><%= entry.vacancy.title %></dd>
      <dt>Feedback de <%= entry.vacancy.headhunter.name %></dt>
      <dd><%= entry.feedback.body %></dd>
    <% end %>
  <% end %>
  </dl>
<% end %>

<% if headhunter_signed_in? %>
  <h1>Aplicaçōes para vagas</h1>
  <dl>
  <% @entries.each do |entry| %>
    <%if entry.featured? %>
      <p>⭐</p>
    <% end %>
    <% if entry.rejected? %>
      <dt>Feedback:</dt>
      <dd><%= entry.feedback.body %> </dd>
    <% end %>
    <dt>Título:</dt>
    <dd><%= entry.vacancy.title %></dd>
    <dt>Nome completo:</dt>
    <dd><%= entry.profile.full_name %></dd>
    <dt>Nome social:</dt>
    <dd><%= entry.profile.social_name %> </dd>
    <dt>Data de nascimento:</dt>
    <dd><%= entry.profile.birth_date.strftime('%d/%m/%Y') %> </dd>
    <dt>Formação acadêmica:</dt>
    <dd><%= entry.profile.education %></dd>
    <dt>Descrição:</dt>
    <dd><%= entry.profile.description %></dd>
    <dt>Experiências profissionais:</dt>
    <dd><%= entry.profile.experience %></dd>
    <dt>Mensagem do candidato:</dt>
    <dd><%= entry.description %></dd>
    <% unless entry.comments.empty? %>
      <dt>Comentários do anunciante:</dt>
      <% entry.comments.each do |comment| %>
        <dd><%= comment.body %> </dd>
        <dd>Enviado em: <%= comment.comment_date %></dd>
      <% end %>
    <% end %>

    <%= form_with model: @comment, url: post_comment_path(entry), method: :post do |f| %>
      <%= f.label :body, 'Comente este perfil' %>
      <%= f.text_field :body %>
      <%= f.submit 'Enviar comentário' %>
    <% end %>
    <% unless entry.rejected? %>
      <% unless entry.featured? %>
        <p><%= link_to 'Marcar perfil como destaque', feature_vacancy_path(entry), method: :post %></p>
      <% end %>
      <p><%= link_to 'Enviar proposta para candidato', new_entry_proposal_path(entry) %>
      <p><%= link_to 'Rejeitar participação', reject_vacancy_path(entry) %></p>
    <% end %>
  <% end %>
  </dl>
<% end %>
