
<% if candidate_signed_in? %>
  <h1>Minhas vagas</h1>
  <dl>
  <% @registrations.each do |registration| %>
    <dt>Título:</dt>
    <dd><%= registration.vacancy.title %></dd>
    <dt>Descrição:</dt>
    <dd><%= registration.vacancy.description %> </dd>
    <dt>Habilidades necessárias:</dt>
    <dd><%= registration.vacancy.skill %> </dd>
    <dt>Faixa salarial (R$):</dt>
    <dd><%= registration.vacancy.wage %></dd>
    <dt>Nível do cargo:</dt>
    <dd><%= registration.vacancy.role %></dd>
    <dt>Data limite de inscriçōes:</dt>
    <dd><%= registration.vacancy.end_date.strftime('%d/%m/%Y') %></dd>
    <dt>Região:</dt>
    <dd><%= registration.vacancy.location %></dd>
    <% unless registration.comments.empty? %>
      <dt>Comentários do anunciante:</dt>
      <dd><% registration.comment.each do |comment| %>
        <%= comment %>
      <% end %>
    <% end %>
  <% end %>
  </dl>
<% end %>

<% if headhunter_signed_in? %>
  <h1>Aplicaçōes para vagas</h1>
  <dl>
  <% @registrations.each do |registration| %>
    <dt>Título:</dt>
    <dd><%= registration.vacancy.title %></dd>
    <dt>Nome completo:</dt>
    <dd><%= registration.profile.full_name %></dd>
    <dt>Nome social:</dt>
    <dd><%= registration.profile.social_name %> </dd>
    <dt>Data de nascimento:</dt>
    <dd><%= registration.profile.birth_date.strftime('%d/%m/%Y') %> </dd>
    <dt>Formação acadêmica:</dt>
    <dd><%= registration.profile.education %></dd>
    <dt>Descrição:</dt>
    <dd><%= registration.profile.description %></dd>
    <dt>Experiências profissionais:</dt>
    <dd><%= registration.profile.experience %></dd>
    <dt>Mensagem do candidato:</dt>
    <dd><%= registration.description %></dd>
    <% unless registration.comments.empty? %>
      <dt>Comentários do anunciante:</dt>
      <% registration.comments.each do |comment| %>
        <dd><%= comment.body %> </dd>
        <dd>Enviado em: <%= comment.comment_date %></dd>
      <% end %>
    <% end %>

    <%= form_with model: @comment, url: post_comment_path(registration), method: :post do |f| %>
      <%= f.label :body, 'Comente este perfil' %>
      <%= f.text_field :body %>
      <%= f.submit 'Enviar comentário' %>
    <% end %>
  <% end %>
  </dl>
<% end %>
