<!DOCTYPE html>
<html>
  <head>
    <title>LaborCompassTreinadev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if headhunter_signed_in? %>
      <%= link_to 'Editar Perfil', edit_headhunter_registration_path %>
      <%= link_to 'Sair', destroy_headhunter_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Entrar como Headhunter', new_headhunter_session_path %>
    <% end %>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
