<!DOCTYPE html>
<html>
  <head>
    <title>LaborCompassTreinadev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if headhunter_signed_in? %>
      <p><%= link_to 'Home', root_path %></p>
      <p><%= link_to 'Editar Perfil', edit_headhunter_registration_path %></p>
      <p><%= link_to 'Minhas vagas', vacancies_path %>
      <p><%= link_to 'Aplicaçōes recebidas', registered_vacancies_path %></p>
      <p><%= link_to 'Cadastrar nova vaga', new_vacancy_path %></p>
      <p><%= link_to 'Sair', destroy_headhunter_session_path, method: :delete %></p>
    <% elsif candidate_signed_in? %>
      <p><%= link_to 'Vagas disponíveis', vacancies_path %>
      <p><%= link_to 'Minhas vagas', registered_vacancies_path %></p>
      <% unless current_candidate.complete? %>
        <p><%= link_to 'Completar perfil', new_profile_path %></p>
      <% else %>
        <p><%= link_to 'Meu perfil', @profile %></p>
      <% end %>
      <p><%= link_to 'Sair', destroy_candidate_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to 'Entrar como Headhunter', new_headhunter_session_path %></p>
      <p><%= link_to 'Entrar como Candidato', new_candidate_session_path %>
    <% end %>
    </nav>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
